@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700&display=swap");
*{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    background:#080808;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;

}

.logo{
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    margin-left: 3rem;
}

header ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 37%;
    margin-right: 3rem;
}

header ul li{
    list-style: none;
}

header ul li a{
    color: #fff;
    padding: 6px 15px;
    border-radius: 16px;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s;

}

header ul li a .active,
header ul li a:hover{
    transition: 0.3s;
    background: #fff;
    color: #080808;
}

.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* .hero::before{
    content: '';
    position: absolute;
    top: 450px;
    left: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(to top, #080808,transparent);
    z-index: 1000;
} */
#front{
    z-index: 1000;
}
.hero img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;

}

#mountains_front{
    z-index: 10;
}
#moon{

    mix-blend-mode: screen;
}

#text{
    position: absolute;
    color: white;
    white-space: nowrap;
    font-size: 3rem;
    z-index: 8;
    transform: translateY(100px);
    transform: translateX(5px);


}

.hero .btn{
    text-decoration: none;
    padding: 8px 30px;
    border-radius: 30px;
    background: #fff;
    color: #2b1055;
    font-size: 1.2em;
    display: inline-block;
    z-index: 9;
    font-weight: 600;
    transform: translateY(100px);
    border: 1px solid #fff;
    transition: 0.3s;
}

.btn:hover{
    transition: 0.3s;
    background:none;
    color: #fff;
    border: 1px solid #6598ff;
}


/* What Do */
.what-do{
    margin-top: 3rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 3rem;

}
.what-do h2{
    font-size: 2rem;
    font-weight: 700;
    color: white;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #6598ff;

}

.what-do-content{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.what-do-card{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    width: 33%;
    height: 120px;

}

.what-do-card .icon{
    margin-top: 0%;
    margin-left: 0%;
    width: 60px;
    height: 60px;
    border: 1px solid #6598ff;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.what-do-card a{
    padding: 16px;
    color: white;


}

.what-do-card .what-do-item{
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    flex-direction: column;
}

.what-do-item h3{
    margin-left: 10px;
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
}

.what-do-item p{
    margin-left: 10px;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    line-height: 1.5;
}


/* About Me */

.about-me{
    position: relative;
    width: 100%;
    height: 25rem;
    display: flex;
    flex-direction: column;
    padding: 80px 3rem;
    margin-top: 3rem;
    
}

/* .about-me::before{
    content: '';
    position: absolute;
    bottom: 290px;
    left: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(to bottom, #080808,transparent);
    z-index: 10;
} */

.about-me h2{
    font-size: 2rem;
    font-weight: 700;
    color: white;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #6598ff;

}

.about-me .about-me-content{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.about-me-title{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    padding-right: 20px;

}

.about-me-title h6{
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
    margin-bottom: 16px;
}

.about-me-title p{
    font-size: 1rem;
    font-weight: 400;
    color: white;
    line-height: 1.5;

}

.about-me-line{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.about-me-line-item{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: 33.3%;
    gap: 12px;
}

.about-me-line-item p{
    font-size: 1rem;
    font-weight: 700;
    color: white;
}

.about-me-line-item .item-line{
    display: flex;
    align-items: center;
    width: 100%;
    height: 20%;
}

.item-line .item-line-1{
    width: 80%;
    border-top-left-radius:6px ;
    border-bottom-left-radius: 6px;
    height: 100%;
    background-color: #6598ff;
}

.item-line .item-line-2{
    width: 20%;
    border-top-right-radius:6px ;
    border-bottom-right-radius: 6px;
    height: 100%;
    background-color: rgb(255, 255, 255);
}


.item-line .item-line-3{
    border-top-left-radius:6px ;
    border-bottom-left-radius: 6px;
    width: 70%;
    height: 100%;
    background-color:#6598ff;
}

.item-line .item-line-4{
    border-top-right-radius:6px ;
    border-bottom-right-radius: 6px;
    width: 30%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}


.item-line .item-line-5{
    border-top-left-radius:6px ;
    border-bottom-left-radius: 6px;
    width: 60%;
    height: 100%;
    background-color: #6598ff;
}

.item-line .item-line-6{
    border-top-right-radius:6px ;
    border-bottom-right-radius: 6px;
    width: 40%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}


/* portofolio */

.portofolio{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 80px 3rem;
    margin-top: 3rem;
    gap: 20px;
     background: url(image/bg4.png);
    background-size: cover;
    object-fit: cover;

}

/* .portofolio::before{
    content: '';
    position: absolute;
    bottom: 780px;
    left: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(to bottom, #080808,transparent);
    z-index: 10;
} */


.port-title{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4rem;
    z-index: 20;
    border-bottom: 1px solid #6598ff;

}

.port-title h2{
    font-size: 2rem;
    font-weight: 700;
    color: white;
    margin-bottom: 20px;
}

.port-title a{
    border-radius: 12px;
    text-decoration: none;
    font-size: 1rem;
    border: 1px solid white;
    font-weight: 700;
    color:#080808;
    margin-bottom: 20px;
    padding: 8px 30px;
    background-color: white;
    transition: 0.3s;
}

.port-title a:hover{
    background-color: transparent;
    color: white;
    transition: 0.3s;
    border: 1px solid #6598ff;

}


.port-content{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    position: relative;
}

/* 
.port-content::before{
    content: '';
    position: absolute;
    top: 680px;
    left: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(to top, #080808,transparent);
    z-index: 10;
} */



.port-content .port-card{
    position: relative;
    width: 25rem;
    height: 25rem;
    margin-bottom: 20px;
    border-radius: 12px;
    display: inline-block;
    padding: 20px;
    overflow: hidden;
    cursor: pointer;
}
/* 
.port-card img::before{
    content: '';
    position: absolute;
    top: 270px;
    left: 0;
    width: 90%;
    height: 30%;
    background: linear-gradient(to top, #080808,transparent);
    z-index: 1000;
} */

.port-card img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.port-card .port-card-content{
  position: absolute;
  display: flex;
  align-items: center;
  top: 74%;
  margin-right:20px ;
  right: -100%;
  height: 13%;
  width: 50%;
  color: #fff;
  border-top-left-radius: 12px;
  background-color:  rgba(1,1,3,0.5);
  border-bottom: 2px solid #6a93e3;
  transition: right 0.4s ease-in-out;
  padding: 10px;
  z-index: 1000;
}

.port-card:hover .port-card-content {
  right: 0;
}


.port-card-content h4{
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    margin-bottom: 16px;
}


/* Form */

    /* Form Daftar */

    .form-daftar {
        margin: 0 3rem;
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        height: 42rem;
        padding: 80px 3rem;
        border-radius: 12px;
        background-color: #080808;

    }

    .form-daftar-title{
        width: 100%;
        height: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;
        color: white;
        border-bottom:1px solid #6598ff;

    }

    .form-daftar-title h1{
        font-size: 2rem;
        font-weight: 800;
    }
    

    .form-daftar-content{
        display: flex;
        width: 100%;
        height: 80%;
        justify-content: space-between;
    }

    .form-daftar-content .contact{
        display: flex;
        flex-direction: column;
        width: 37%;
        height: 100%;
        padding: 20px 0;
        padding-left: 3rem;
    }

    .form-daftar-content .contact h3{
        font-size: 1.5rem;
        font-weight: 700;
        color: white;
        margin-bottom: 20px;
    }

    .contact .contact-item{
        display: flex;
        justify-content: flex-start;
        margin-bottom: 16px;
        width: 100%;
        align-items: center;
    }


    .contact .contact-item .contact-icon
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50px;
        padding: 12px;
        height: 50px;
        border: 1px solid #6598ff;
        margin-right: 20px;
        border-radius: 100%;
    }

    .contact-icon a{
        color: white;
    }

    .contact-item p{
        font-size: 1rem;
        font-weight: 400;
        color: white;
    }

    .form-daftar-item {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 60%;
        padding: 20px 3rem;
    }
    .pesan {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        
    }

    form {
        display: flex;
        flex-direction: column;
        width: 90%;
      }

    .label{
        text-align: left;
        color: white;

    }
      
    input[type="text"],
    input[type="email"]
    {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #6598ff;
    background-color: transparent;

    }

   #text-box{ height:200px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #6598ff;
    width: 100%;
    margin-bottom: 20px;
    background-color: transparent;

 }

    .bt {
        display: inline-block;
        font-size: 1rem;
        font-weight: 600;
        color: #080808;
        transition: all 0.3s ease;
        border: 1.5px solid white;
        border-radius: 8px;
        padding: 10px 8rem;
        background-color:white;
        cursor: pointer;
    }
    .bt:hover{
    background: transparent;
    color: white;
    transition: 0.3s;
    border: 1px solid #6598ff;
    }







    /*About Me Page  */

    .about {
        margin: 0 3rem;
        margin-top: 8rem;
        display: flex;
        flex-direction: column;
        height: 40rem;
        box-sizing: border-box;
    }

    .about h2{
        font-size: 2.5rem;
        font-weight: 800;
        color: white;
        text-align: center;
        margin-bottom: 2rem;
        padding-bottom: 2rem;
        border-bottom:1px solid #6598ff;
    }

    .about .about-content {
        display: flex;
        height: 100%;
        padding: 80px 3rem;
        box-sizing: border-box;
        justify-content: space-between;
    }

    .about .about-image{
        width: 30%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: url(image/6.jpg);
        background-size: cover;
        object-fit: cover;
        border-radius: 20px;
    }

    .about .about-me-content{
        display: flex;
        flex-direction: column;
        width: 65%;
        height: 100%;
        justify-content: flex-start;
    }
    
    .about .about-me-title{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 30%;
        margin-bottom: 20px;
    
    }
    
    .about .about-me-title h6{
        font-size: 1.5rem;
        font-weight: 600;
        color: white;
        margin-bottom: 16px;
    }
    
    .about .about-me-title p{
        font-size: 1rem;
        font-weight: 400;
        color: white;
        line-height: 1.5;
    
    }
    
    .about .about-me-line{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 60px;
        height: 60%;

    }
    
    .about .about-me-line-item{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 30%;

    }
    
    .about .about-me-line-item p{
        font-size: 1rem;
        font-weight: 700;
        color: white;
    }
    
    .about .about-me-line-item .item-line{
        display: flex;
        align-items: center;
        width: 70%;
        height: 20%;
    }
    
    .about .item-line .item-line-1{
        width: 80%;
        border-top-left-radius:6px ;
        border-bottom-left-radius: 6px;
        height: 100%;
    }
    
    .about .item-line .item-line-2{
        width: 20%;
        border-top-right-radius:6px ;
        border-bottom-right-radius: 6px;
        height: 100%;
        background-color: rgb(255, 255, 255);
    }
    
    
    .about .item-line .item-line-3{
        border-top-left-radius:6px ;
        border-bottom-left-radius: 6px;
        width: 70%;
        height: 100%;
        background-color:#6598ff;
    }
    
    .about .item-line .item-line-4{
        border-top-right-radius:6px ;
        border-bottom-right-radius: 6px;
        width: 30%;
        height: 100%;
        background-color: rgb(255, 255, 255);
    }
    
    
    .about .item-line .item-line-5{
        border-top-left-radius:6px ;
        border-bottom-left-radius: 6px;
        width: 60%;
        height: 100%;
        background-color: #6598ff;
    }
    
    .about .item-line .item-line-6{
        border-top-right-radius:6px ;
        border-bottom-right-radius: 6px;
        width: 40%;
        height: 100%;
        background-color: rgb(255, 255, 255);
    }



    /* What can I Do */
    .what-can-do{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 80px 3rem;
    
    }

    .what-can-do h2{
        font-size: 1.5rem;
        margin: 0 2rem;
        font-weight: 700;
        color: white;
        width: 100%;
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid #6598ff;
    
    }
    
    .what-can-do-content{
        margin-top: 2rem;
        display: flex;
        justify-content: space-between;
        width: 95%;
        height: auto;
    }

/* My Educate */

.educate{
    margin-top: 5rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 3rem;
    
    margin-bottom: 5rem;
}

.educate h2{
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    width: 100%;
    margin-left: 4rem;
    margin-right: 4rem;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #6598ff;

}

.educate-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.educate-card{
    gap: 5rem;
    flex-wrap: wrap;
    margin-top: 2rem;
    padding-left: 6rem;
    padding-right: 6rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.educate-card .what-do-card{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    width: 45%;
    height: 120px;

}
.about-form-daftar-title{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    margin-bottom: 2rem;
    color: white;
    padding-bottom: 20px;
    border-bottom:1px solid #6598ff;

}

.about-form-daftar-title h2{
    font-size: 1.5rem;
    font-weight: 700;
}


/* Portofolio Page */

.porto-title{
    display:flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 9rem;
    z-index: 20;
    margin-bottom: 2rem;
}


.porto-title h2{
    font-size: 2.5rem;
    font-weight: 700;
    width: 100%;
    text-align: center;
    padding-bottom: 20px ;
    color: white;
    margin-bottom: 10px;
    border-bottom: 1px solid #6598ff;
}

.port-kategori{
    margin-top: 40px;
    width: 55%;
    height: 3rem;
    display: flex;
    justify-content:space-between;
    align-items: center;
    }

.porto-title button{
    cursor: pointer;
    border-radius: 12px;
    text-decoration: none;
    font-size: 1rem;
    border: 1px solid white;
    font-weight: 700;
    color:#080808;
    margin-bottom: 20px;
    padding: 8px 30px;
    background-color: white;
    transition: 0.3s;
}

.porto-title button:hover{
    background-color: transparent;
    color: white;
    transition: 0.3s;
    border: 1px solid #6598ff;

}

.porto-title button.active{
    background-color:transparent;
    color: white;
    transition: 0.3s;
    border: 1px solid #6598ff;
}

/* .portfolio::before{
    content: '';
    position: absolute;
    bottom: 1690px;
    left: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(to bottom, #080808,transparent);
    z-index: 10;
} */

.port-cont{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    position: relative;
}
.portfolio{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0 3rem;
    margin-top: 8rem;
    gap: 20px;
    background: url(image/bg4.png);
    background-size: cover;
    object-fit: cover;

}
.port-cont .port-card{
    position: relative;
    width: 25rem;
    height: 25rem;
    margin-bottom: 20px;
    border-radius: 12px;
    display: inline-block;
    padding: 20px;
    overflow: hidden;
    cursor: pointer;
}




/* Blog */

.artikel {
    margin: 0 3rem;
    margin-top: 8rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 1.4 rem 7%;
    border-radius: 18px;
    }

    .artikel-title {
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
    }

    .artikel-title  h2{
    font-size: 2.5rem;
    text-align: center;
    font-weight: 800;
    color: white;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid #6598ff;
    }

    .artikel-content {
    flex-wrap: wrap;
    margin-top: 2rem;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    .artikel-content .card-artikel{
    border: 1px solid #6598ff;
    width: 30%;
    height: 25rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 1rem;
    border-radius: 12px;
    cursor: pointer;
    margin-bottom:2rem;

    }

    .artikel-content .card-artikel .card-img {
    background-size: cover;
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 12px;
    padding: 0%;
    }

   .artikel-content .card-artikel .judul{
    font-size: 1rem;
    font-weight: 400;
    color: white;

   }

.card-artikel a{
    margin-top: 20px;
    cursor: pointer;
    border-radius: 12px;
    text-decoration: none;
    font-size: 1rem;
    border: 1px solid #6598ff;
    font-weight: 700;
    color:white;
    margin-bottom: 20px;
    padding: 8px 30px;
    background-color:transparent;
    transition: 0.3s;
}

.card-artikel a:hover{
    background-color: white;
    color: #080808;
    transition: 0.3s;
    border: 1px solid white;

}
